{% extends "base.html" %}
{% load static %}
{% block title %}
  Проценка
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <main id="app" class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
        <div class="row p-5">
          <form @submit.prevent class="w-100 me-3" role="search">
            <div class="form-row">
              <div class="input-group date">
                <!-- djlint:off -->
                <input v-model="search"
                       placeholder="Buscar"
                       type="search"
                       class="form-control"
                       placeholder="Búsqueda..."
                       aria-label="Búsqueda"
                       
                       @input="callSearch"/>
                <button type="button"
                        class="btn btn-outline-secondary btn-sm"
                        style="margin-left: 5px"
                        @click="callSearch">
                  Buscar
                </button>
                <!-- djlint:on-->
              </div>
            </div>
          </form>
        </div>
        <div class="dummy-text" v-if="!showTable">
          <h3>НАЧИНАЙ ВВОДИТЬ НОМЕР В ПОИСК!</h3>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <h6>Ангара <span class="badge rounded-pill text-bg-success">[[resCountAngara]]</span></h6>
            <div v-if="showTableAngara" class="table-responsive angara-table">
              <table class="table table-striped table-sm">
                <thead>
                  <tr class="thead-top">
                    <th scope="col">1С</th>
                    <th scope="col">НАЗВАНИЕ</th>
                    <th scope="col">КАТАЛОГ</th>
                    <th scope="col">БРЕНД</th>
                    <th scope="col">КОЛ-ВО</th>
                    <th scope="col">ЦЕНА</th>
                    <th scope="col">CAR</th>
                    <th scope="col">ФОТ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="angara-tr" v-for="item in itemsAngara">
                    <td>[[ item.one_c_id ]]</td>
                    <td>
                      <a :href="`https://angara77.com/product/${item.slug}/`" target="_blank">[[ item.name ]]</a>
                    </td>
                    <td>[[ item.cat ]]</td>
                    <td>[[ item.brand ]]</td>
                    <td>[[ item.stock ]]</td>
                    <td>[[ item.price ]]</td>
                    <td>[[ item.car ]]</td>
                    <td>
                      <img width="40" :src="item.img" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <h6>Поставляльщики <span class="badge rounded-pill text-bg-primary">[[ resCount ]]</span></h6>
            <div v-if="showTable">
              <easy-data-table
              id="1"
              :headers="headers"
              :items="items"
              :rows-per-page="100"
              show-index
              alternating
              />
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock content %}
{% block js %}
  <script>
  const FRONT_SEARCH_URL = '{{ FRONT_SEARCH_URL }}';
  const FRONT_SEARCH_URL_ANGARA = '{{ FRONT_SEARCH_URL_ANGARA }}';
  </script>
  <script src="{% static 'js/axios.min.js' %}"></script>
  <link href="{% static 'css/simple-table.css' %}" rel="stylesheet" />
  <script src="{% static 'js/vue.global.js' %}"></script>
  <script src="{% static 'js/vue3-easy-data-table.umd.js' %}"></script>
  <script src="{% static 'js/custom-vue.js' %}"></script>
{% endblock js %}
