{% extends "base.html" %} {% block content %} {% load static %}<br />
{% block title %}Поставщики{% endblock title %}
<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-3 sidebar-sticky">
        <div class="btn-toolbar">
          <button
            id="load-all"
            style="margin: 0 auto"
            type="button"
            class="btn btn-sm btn-outline-secondary load-suppliers-button"
          >
            <span id="button-text">Загрузить все прайсы</span>
            <svg
              class="text-success"
              id="spinner-all"
              style="display: none"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <style>
                .spinner_d9Sa {
                  transform-origin: center;
                }
                .spinner_qQQY {
                  animation: spinner_ZpfF 9s linear infinite;
                }
                .spinner_pote {
                  animation: spinner_ZpfF 0.75s linear infinite;
                }
                @keyframes spinner_ZpfF {
                  100% {
                    transform: rotate(360deg);
                  }
                }
              </style>
              <path
                d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,20a9,9,0,1,1,9-9A9,9,0,0,1,12,21Z"
              />
              <rect
                class="spinner_d9Sa spinner_qQQY"
                x="11"
                y="6"
                rx="1"
                width="2"
                height="7"
              />
              <rect
                class="spinner_d9Sa spinner_pote"
                x="11"
                y="11"
                rx="1"
                width="2"
                height="9"
              />
            </svg>
          </button>
        </div>
        <div class="left-side-list">
          <h6><span id="update-time"></span></h6>
          <ul id="left-ul" class="nav flex-column mb-2" style="margin: 0 auto">
            <li class="nav-item">
              <span data-feather="file-text" class="align-text-bottom"
                >Here you go...</span
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Поставляльщики</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button
            id="load-all"
            type="button"
            class="btn btn-sm btn-outline-secondary load-suppliers-button"
          >
            <span id="button-text">Загрузить все прайсы</span>
            <svg
              class="text-success"
              id="spinner-all"
              style="display: none"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <style>
                .spinner_d9Sa {
                  transform-origin: center;
                }
                .spinner_qQQY {
                  animation: spinner_ZpfF 9s linear infinite;
                }
                .spinner_pote {
                  animation: spinner_ZpfF 0.75s linear infinite;
                }
                @keyframes spinner_ZpfF {
                  100% {
                    transform: rotate(360deg);
                  }
                }
              </style>
              <path
                d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,20a9,9,0,1,1,9-9A9,9,0,0,1,12,21Z"
              />
              <rect
                class="spinner_d9Sa spinner_qQQY"
                x="11"
                y="6"
                rx="1"
                width="2"
                height="7"
              />
              <rect
                class="spinner_d9Sa spinner_pote"
                x="11"
                y="11"
                rx="1"
                width="2"
                height="9"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th class="col" scope="col">#</th>
              <th class="col-5" scope="col">Название</th>
              <th class="col-1" scope="col">Email</th>
              <th class="col-1" scope="col">Вес</th>
              <th class="col-1" scope="col">Свежий</th>
              <th class="col-2" scope="col">Загружен</th>
              <th class="col-1" scope="col">Получить</th>
              <th class="col" scope="col">Активный</th>
            </tr>
          </thead>
          <tbody>
            {% for supplier in suppliers %}
            <tr>
              <td>{{ supplier.id }}</td>
              <td>
                <span class="font-weight-my text-primary">
                  {{ supplier.show_name }}
                </span>
              </td>
              <td>
                <span class="font-weight-my text-primary">
                  {{ supplier.email }}
                </span>
              </td>
              <td>{{ supplier.weight }}</td>
              {% if supplier.days_passed > PRICE_EXPERATION %}
              <td><i class="bi bi-exclamation-square-fill text-danger"></i></td>
              {% else %}
              <td><i class="bi bi-check-square-fill text-success"></i></td>
              {% endif %}
              <td>
                <span
                  class="date-text {% if supplier.days_passed > PRICE_EXPERATION %} text-danger {% else %} text-success {% endif %}"
                >
                  {{ supplier.updated_price }}
                </span>
              </td>

              <td>
                {% comment %}
                <a href="{% url 'get-supplier-price' supplier.id %}">
                  {% endcomment %}
                  <i
                    id="{{ supplier.id}}"
                    class="bi bi-caret-right-square custom-button-refresh get-price-ajax"
                  ></i>
                  <span id="spinner-{{ supplier.id }}" style="display: none">
                    <svg
                      id="loading-image"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <style>
                        .spinner_Wezc {
                          transform-origin: center;
                          animation: spinner_Oiah 0.75s step-end infinite;
                        }
                        @keyframes spinner_Oiah {
                          8.3% {
                            transform: rotate(30deg);
                          }
                          16.6% {
                            transform: rotate(60deg);
                          }
                          25% {
                            transform: rotate(90deg);
                          }
                          33.3% {
                            transform: rotate(120deg);
                          }
                          41.6% {
                            transform: rotate(150deg);
                          }
                          50% {
                            transform: rotate(180deg);
                          }
                          58.3% {
                            transform: rotate(210deg);
                          }
                          66.6% {
                            transform: rotate(240deg);
                          }
                          75% {
                            transform: rotate(270deg);
                          }
                          83.3% {
                            transform: rotate(300deg);
                          }
                          91.6% {
                            transform: rotate(330deg);
                          }
                          100% {
                            transform: rotate(360deg);
                          }
                        }
                      </style>
                      <g class="spinner_Wezc">
                        <circle cx="12" cy="2.5" r="1.5" opacity=".14" />
                        <circle cx="16.75" cy="3.77" r="1.5" opacity=".29" />
                        <circle cx="20.23" cy="7.25" r="1.5" opacity=".43" />
                        <circle cx="21.50" cy="12.00" r="1.5" opacity=".57" />
                        <circle cx="20.23" cy="16.75" r="1.5" opacity=".71" />
                        <circle cx="16.75" cy="20.23" r="1.5" opacity=".86" />
                        <circle cx="12" cy="21.5" r="1.5" />
                      </g>
                    </svg>
                  </span>
                  {% comment %}
                </a>
                {% endcomment %}
              </td>
              {% if supplier.enabled %}
              <td><i class="bi bi-check text-success"></i></td>
              {% else %}
              <td>No</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
{% endblock content %} {% block js %}
<script>
  const MAIN_HOST_URL = '{{ MAIN_HOST_URL  }}';
</script>
<script src="{% static 'js/custom-ajax.js' %}"></script>
{% endblock js %}
